.menu {
    background: #202024 url('') repeat right top;
 
      /*左侧弹出窗口的长宽、背景颜色*/
      height: 100%;
      width: 51%;
      background-color: #FFFFFF;
        /*布局排版*/
        position:absolute;/*关键处*/
        z-index:1;
        right:-50%;

        /*字体设置*/
        text-align: center;
}
.body {
    height:100%;
    width:100%;
    position:absolute;/*关键处*/
    right:0;
}
.menu .circle{
  width: 5em;
  height: 5em;
}
.spc{
  background-color: #FFFFFF;
}
.block{
  background-color: #F6F7F7;
}
.circle{
  width: 2.5em;
  height: 2.5em;
}
.btn-danger {
  color: #fff;
  background-color: #FF0000;
  border-color: #d43f3a;
}
.row{
  font-family: arial,sans-serif;
  color: #000080;
  font-size: 1.6em;
}