
*{
  -webkit-user-callout:none;
  -webkit-user-select:none;
}

body {
 height:100%;
 overflow-y: scroll;
 overflow-x: hidden;
 position: relative;
 background: url(../images/bg.png) no-repeat;

 -webkit-background-size: 100% 100%;
 background-size: 100% 100%;
}

.scroll-container{
  
}

.record{
  background:#FFFFFF;
  width:100%;
  overflow-x:hidden;
}

.hasBg {
 background: no-repeat;
 -moz-background-size: 100% 100%;
 -o-background-size: 100% 100%;
 -webkit-background-size: 100% 100%;
 background-size: 100% 100%;
}

.btn {
  border-radius: 8px;
  color: #0C417E;
  background-color: #DBDDDD;
}

.spc-btn{
  color: #ffffff;
  border: 3px solid #fff;
  background:transparent;
 -moz-background-size: 100% 100%;
 -o-background-size: 100% 100%;
 -webkit-background-size: 100% 100%;
 background-size: 100% 100%;
}

#myHead, #teamHead {
  border: 2px solid #fff;
}

.nav {
  list-style: none;
  text-align: center;
}
.nav li {
  position: relative;
  display: inline-block;
  margin-right: -4px;
}
.nav li:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
}
.nav a:link, .nav a:visited {
  display: block;
  text-decoration: none;
  background-color: #f7f7f7;
  color: #000000;
  margin: 36px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  border: solid 1px transparent;
}
.nav a:before {
  content: "";
  display: block;
  background: #fff;
  border-top: 2px solid #ddd;
  position: absolute;
  top: -18px;
  left: -18px;
  bottom: -18px;
  right: -18px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
}
.nav a:active {
  box-shadow: none;
  border: solid 1px #a7a7a7;
}

.nav a:hover {
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}

.navbar{
  -webkit-transition: -webkit-transform 300ms ease-out 0s;
  transition: -webkit-transform 300ms ease-out 0s;
}

.net-control{
  color:#ffffff;
  background-color: rgba(0,0,0,0);
  border-radius: 0.0;
  border:4px solid #ffffff;
}

.net-control::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.net-control:-ms-input-placeholder {
  color: #ffffff;
}
.net-control::-webkit-input-placeholder {
  color: #ffffff;
}

.form-control{
  color:#ffffff;
  background-color: rgba(0,0,0,0);
  border-radius: 0.0;
  border:4px solid #ffffff;
}

.form-control::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #ffffff;
}
.form-control::-webkit-input-placeholder {
  color: #ffffff;
}

.delete_icon{
    position: absolute;
    right: 22%;
    top: -84%;
    color: #fff;
    font-size: 25px;

}

#alert_flash { 
    text-align: center;
    left:0; right:0;
    top:90%;
    margin: 0 auto;
    box-shadow: 0px 0px 10px #888888;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius:5px;
    font:1.2em;  color:#000000;
    z-index:1100;
    position: absolute;
    background: #ffffff;
}

#block-bg{ 
  display: none;  
  position: absolute;  
  top: 0%;  
  left: 0%;  
  width: 100%;  
  height: 100%;  
  background-color: black;  
  z-index:1090;  
  -moz-opacity: 0;  
  opacity:0;  
  filter: alpha(opacity=000);
}
.block-bg{
  display: none;  
  position: relative;  
  top: 0%;  
  left: 0%;  
  width: 100%;  
  height: 100%;  
  background-color: #fff;  
  z-index:1090;  
  -moz-opacity: 50;  
  opacity:50;  
  filter: alpha(opacity=050);
}

#black-bg{ 
  display: none;  
  position: absolute;  
  top: 0%;  
  left: 0%;  
  width: 100%;  
  height: 100%;  
  background-color: black;  
  z-index:1092;  
  -moz-opacity: 0.7;  
  opacity:0.7;  
  filter: alpha(opacity=70);
}

.def_modal{
    box-shadow: 0px 0px 10px #888888;
    text-align: left;
    left:0; right:0;
    top:30%;
    height:30%;
    width:90%;
    background:#FFFFFF;
    margin: 0 auto;
    z-index:1100;
    position: absolute;
}

.modal_input{
  width:90%;height:40%;
  margin-left:5%;
  margin-top:-3%;
  outline:none;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom-color:#009393;
}

.modal_button{
  border-top-style: thin solid black;
  border-bottom: none;
  border-right: none;
  border-left: none;
  padding:0;
  width:100%;
  background: #FFFFFF;
  font-size:1.5em;
}

.load-body{
  height:100%;
  width:100%;
  background: inherit;
  /*For IOS
  -webkit-overflow-scrolling : touch;*/
}

#body1, #body2{
  height:100%;
  width:100%;
  background: inherit;
  position: absolute;
  top:0; left:0%;

  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 225ms;

  -webkit-animation-fill-mode: both;
}
#body1{
  display: block;
}
#body2{
  display: none;
}

.upper-side{
  width: 100%;
  height: 88%;
  background: #fff;
  overflow: scroll;
  /*For IOS
  -webkit-overflow-scrolling : touch*/;
}

.score-bar{
  width:100%;
  height:12%;
  margin-left:0;
  padding:0;
  z-index:1091;
  position:fixed;
  bottom:0;
}

